<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728933452950-cv2o4gcv210krlev2i4nm88kmoeifmic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728933452950-cv2o4gcv210krlev2i4nm88kmoeifmic</string>
	<key>API_KEY</key>
	<string>AIzaSyBQr3z6Jd8uZsoQIx-iOAbU5KibjHvjF_M</string>
	<key>GCM_SENDER_ID</key>
	<string>728933452950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.locumset</string>
	<key>PROJECT_ID</key>
	<string>locumset-e6bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>locumset-e6bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728933452950:ios:b9168fe1c19d70d9a1c6b7</string>
	<key>DATABASE_URL</key>
	<string>https://locumset-e6bdb.firebaseio.com</string>
</dict>
</plist>